/* Buttons **********************/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 0;
	background-color:$color-primary;
	color:white;
	padding: 0.5em 1em;
	@include font-size(0.8);

	&:hover {
		text-decoration: underline;
	}
	&:active,
	&:focus {
		border-color: none;
	}
}

/* Fields **********************/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	font-family: $font-sans; 
	color: $color-main-text;
	border: 1px solid $color-light;
	border-radius: 0;
	width:99%;

	&:focus {
		color: $color-secondary-text;
	}
}

select {
	border: 1px solid $color-light;
}

textarea {
	width: 99%;
}
input[type="search"] {
	padding: 0.5em;
}
input:focus {
    border-color: $color-light;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $color-light;
	  text-align:center;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: $color-light;
	  text-align:center;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: $color-light;
	  text-align:center;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: $color-light;
	  text-align:center;
	}


.search-form{
	text-align: center;
	input[type="search"] {
		text-align: center;
	}
	input[type="submit"] {
		text-align: center;
		margin: 0.5em;
	}
}








