/* SVG Icons base styles */

.icon {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	position: relative; /* Align more nicely with capital letters */
	top: -0.0625em;
	vertical-align: middle;
	width: 1em;
}

/*--------------------------------------------------------------
SVG Fallbacks
--------------------------------------------------------------*/

.svg-fallback {
	display: none;
}

.no-svg .svg-fallback {
	display: inline-block;
}

/* Social Menu fallbacks */
.no-svg .svg-fallback.icon-top:before {
	font-size: 0.5em;
    margin: 12px 0px 0px 11px;
	content: "Top";
}

.no-svg .svg-fallback.icon-nav:before {
	font-size:0.8em;
	content: "Menu";
}

.no-svg .svg-fallback.icon-arrow-left:before {
	content: "←";
}

.no-svg .svg-fallback.icon-arrow-right:before {
	content: "→";
}


/* Social Menu fallbacks */

.no-svg .social-menu a {
	height: auto;
	width: auto;
}

.no-svg .social-menu li a .screen-reader-text {
	clip: auto;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	height: auto;
	position: relative !important; /* overrides previous !important styles */
	width: auto;
}