/*--------------------------------------------------------------
## General
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: $color-main-text;
	font-family: $font-sans;
	@include font-size(1);
	line-height:1.5em ;
}
::selection {
  background: $color-light; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $color-light; /* Gecko Browsers */
}

/* Heading ***************************/
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font-sans;
	line-height:1em;
	font-weight:400;
}

/* Copy ***************************/
p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0.5em;
	padding:2em 0.5em 0.5em 0.5em;
	@include font-size(1.2);
	font-style:italic;
	border:none;
	background-color:transparent;
	background-image: url(images/quote.svg);
	background-position: left top;
	background-repeat:no-repeat;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: transparent;
	border: 1px solid $color-light;
	font-family: $font-code;
	@include font-size(0.8);
	line-height: 0em;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font-code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color-secondary;
	cursor: help;
}

mark, ins {
	background: $color-secondary;
	text-decoration: none;
}

big {
	font-size: 125%;
}
figure {
    margin: 0;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	text-decoration: none;
	border-bottom: 1px solid $color-links-underline;
	color: $color-links;
	@include transitions();

	&:visited {
		color: $color-links;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color-primary;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}


/*--------------------------------------------------------------
## Site - general
--------------------------------------------------------------*/
.site{
	/* border-top: 2px solid $color-background-header; */
}


/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

.header-image {
	max-height: 30vh;
	overflow: hidden;	
	img {
		display: block;
		width: 100vw;
	}
}

.site-header {
	width: $content-wrap;
	margin: 2em auto 0em;
	padding-top:1em;
	overflow: hidden;
	@media screen and (max-width: $query-small){
		width: 92%;
	}
}

.site-branding {
    float: left;
    line-height: 1em;
	min-height: $header-height;
	.custom-logo-link {
	    float: left;
		margin-right: 0.5em;
		margin-top:0em;
		border-bottom: none;
		img {
			display: block;
			height: $header-height;
			width: auto;
		}
	}
	.site-branding-text {
	    float: left;
	}
	.site-title {
		margin: 0.5em 0 0 0;
		padding: 0;
		@include font-size(1.3);
		font-weight: 400;
		line-height: 1em;	
	    letter-spacing: 0.1em;
		a {
			color: $color-main-text;
			padding-bottom: .25rem;
			&:hover,
			&:focus {
				color:$color-primary;
			}
		}
	}
	.site-description {
		margin: 2px 0 0 0;
	    @include font-size(0.8);
	    font-style: italic;
	    font-weight: 100;
	}

}


/*--------------------------------------------------------------
## Main Menu Header
--------------------------------------------------------------*/
.main-navigation {
	float: right;
	margin: 0;

	.menu-toggle{
		position: relative;
		display: block;
		color:$color-main-text;

		.icon{
			height: 1.5em;
		    width: 1.5em;
		    margin: -0.5em -1.5em 0 0;
		    @include transitions();
		    &:hover{
		    	color:$color-primary;
		    }
		}
		
	}

	button{
		background: transparent;
		border-radius: 0;
		border: none;
		height: $header-height;
		width: $header-height;
		&:focus{
			outline:0;
		}
	}

}

.nav-home-menu{
	display: none;
	width: 100%;
	float: left;
}


.menu-main-menu-container{
	overflow:hidden;
}
.menu-main-menu-container ul{
	clear: both;
	margin: 2em 0 1em 0;
	padding: 0;
	float: left;
	width: 100%;
	height: auto;
	@include font-size(0.8);
	list-style: none;
	li{
		float: left;
		padding: 0.3em 1.1em;
		border: 1px solid $color-light;
		margin: 1em 0.5em 0em;
		text-align: center;
		a{
			text-decoration:none;
			border-bottom:0;
		}
	}

	
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color:$color-primary;
	}
}


/*Widget for Header*/
.widget-header {
    clear: both;
	padding-top:1em;
	width: 50%;
	margin: 1em auto 1em;
	text-align: center;
	input[type="search"] {
		width: 100%;
		@include font-size(0.8);
		font-weight: 200;
		color: $color-light;
		text-align: center;
	}
	input[type="submit"] {
		width: 70px;
		margin:1em auto;
		text-align: center;
	}
	@media screen and (max-width: $query-small){
		width: 100%;
	}
}


/*--------------------------------------------------------------
## Main Content - Article - Images - Post Articles
--------------------------------------------------------------*/
.site-main{
	@include box-sizing();
	padding: 1em;
	@media screen and (max-width: $query-small){
		width: 100%;
	}
}
.site-content{
	clear:both;
    margin: 0 auto;
	overflow:hidden;
	article{
		overflow: hidden;
		margin-top: 1.5em;
		margin-bottom: 3.25em;
	}
}
.content-article-image{
	width: $content-wrap-large;
	margin: 1em auto 1em;
	max-width:1000px;
	img{
		width: 100%;
		height: auto;
	}
	@media screen and (max-width: $query-small){
		width: 100%;
	}
}
.content-article-inner{
	width: $content-wrap;
	margin: 0 auto;
	@media screen and (max-width: $query-small){
		width: 100%;
	}
}
.sticky{
	.entry-header{
		.entry-title{
			border-top:7px solid $color-primary;
		}
	}
}

.entry-header{
	width:35%;
	float:left;
	.entry-title{
		border-top:2px solid $color-primary;
		padding-top: 0.5em;
    	font-weight: 300;
    	@include font-size(3);
    	margin: 0.3em 0 0.3em 0;
    	line-height: 1em;
	}
	.entry-meta{
		@include font-size(0.8);
		padding-bottom:0.8em;
		margin-bottom: 0.8em;
		border-bottom:1px dashed $color-light;
	}
	.cat-links, .tags-links, .comments-link, .edit-link{
		@include font-size(0.8);
	}
	@media screen and (max-width: $query-small){
		width: 100%;
	}

}

.entry-content{
	width:60%;
	float:right;
	img{
		max-width: 100%;
		height: auto;
	}
	/* ::::::: Images Alignments ::::::::::*/
	.alignleft {
		display: inline;
		float: left;
		margin-right: 1.5em;
	}

	.alignright {
		display: inline;
		float: right;
		margin-left: 1.5em;
	}

	.aligncenter {
		clear: both;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	button{
		background-color:transparent;
		border: 1px solid $color-light;
		color:$color-main-text;
		@include transitions();
		&:hover{
			text-decoration: none;
			color: $color-primary;
		}
	}

	/* ::::::: Images Captions ::::::::::*/
	figure{
		max-width: 100%;
	}
	.wp-caption {
		max-width: 100%;
		background-color: $color-primary;
		color:white;

		img[class*="wp-image-"] {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.wp-caption-text {
			@include font-size(0.7);
			font-style: italic;
			margin:0;
		}
	}

	.wp-caption-text {
		text-align: center;
	}



	@media screen and (max-width: $query-small){
		width: 100%;
		img[class*="wp-image-"] {
			width: 100%;
		}
		figure{
			width: 75% !important;
		}

	}

}

.post-article-content{
	width: $content-wrap;
	margin: 0 auto;
	@include font-size(0.8);
	.post-navigation{
		width: 100%;
		overflow: hidden;
		border-bottom: 1px dashed $color-light;
		border-top: 1px dashed $color-light;
		border-left:none;
		border-right:none;
		padding: 1.7em 0;
		font-family: $font-sans;
		.nav-previous {
			border: 1px solid $color-light;
			float: left;
    		padding: 1em;
   			margin-left: 1em;
		}
		.nav-next {
			border: 1px solid $color-light;
			float: left;
    		padding: 1em;
   			margin-left: 1em;
		}
	}
	/* comments --- */
	.comment-list{
		padding-left:2em;
	}
	.comment-author{
		img{
			width: 75px;
			height: auto;
		}
	}
	.comment-meta{
		font-style: italic;
	}
	.reply{
		margin: -1em 0 0 0;
		a{	
			background-color:$color-primary;
			color:white;
			padding: 0.5em 1.3em;
			color:white;
			&:hover{
				text-decoration: underline;
			}
		}

	}
	.comment-respond{
		margin: 2em 0;
		width: 100%;
		h3{
			@include font-size(1.3);
			text-transform: uppercase;
		}
		.comment-form{

		}
		
	}

	@media screen and (max-width: $query-small){
		width: 100%;
		margin:0 auto;
	}
}


/*Archive*/
.page-header-archive{
	width: $content-wrap;
	margin: 1em auto;
	text-align: center;
	h1{
		text-align: center;
		@include font-size(0.8);
		font-weight: 200;
		text-transform: uppercase;
		background-color:$color-primary;
		color: white;
		padding:0.7em 0;;
	}
	@media screen and (max-width: $query-small){
		width: 100%;
		margin:0 auto;
	}
	.archive-description{
		p{
			margin: 0 0;
			color:$color-secondary-text;
			@include font-size(0.8);
		}
	}
}

/*Search*/
.page-header{
	width: $content-wrap;
	margin: 1em auto;
	text-align: center;
	h1{
		text-align: center;
		@include font-size(0.8);
		font-weight: 200;
		text-transform: uppercase;
		background-color:$color-primary;
		color: white;
		padding:0.7em 0;;
	}
	@media screen and (max-width: $query-small){
		width: 100%;
		margin:0 auto;
	}
}

/*Error 404*/
.error-404{
	text-align:center;
	img{
		width: 30%;
		margin:0 auto;
	}
}



/* Post Navigation*/
.navigation{
	width: $content-wrap;
	margin: 3em auto 2em;
	padding: 1.3em 0em;
	border: 1px solid $color-light;
	text-align:center;
	.nav-links{
		a{
			margin:0em 1em;
		}

	}
	.current{
		color:$color-primary;
		margin:0em 1em;
	}
	@media screen and (max-width: $query-small){
		width: 100%;
		margin:0 auto;
	}
}


/*--------------------------------------------------------------
## Side Bar - Widget Area
--------------------------------------------------------------*/
.widget-area{
	width: $content-wrap;
	margin: 1em auto;
	padding-top:0em;
	@include font-size(0.8);
	@include box-sizing();
	overflow: hidden;
	
	.widget{
		overflow: hidden;
		margin-top: 2.5em;
		ul{
			padding-left:2em;
		}
	}
	.widget-left{
		width: 35%;
		float: left;
		border-top: 1px dashed $color-light;
		padding-top:1em;
		@include box-sizing();
		@media screen and (max-width: $query-smaller){
			width: 100%;
		}
	}
	.widget-right{
		width: 60%;
		float: right;
		border-top: 1px dashed $color-light;
		padding-top:1em;
		@include box-sizing();
		@media screen and (max-width:$query-smaller){
			width: 100%;
			border-top: none;
			padding-top:0em;
		}
	}

	@media screen and (max-width: $query-small){
		width: 100%;
		padding:1em;
	}

	.widget_search{
		text-align: left;

		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  text-align:left;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  text-align:left;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  text-align:left;
		}
		:-moz-placeholder { /* Firefox 18- */
		  text-align:left;
		}
		input[type="search"] {
			@include font-size(0.8);
			font-style: italic;
			text-align: left;	
		}
		input[type="submit"] {
			float: left;
			margin-top: 0.7em;	
		}

	}
	
	
}



/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	border-top: 1px dashed $color-light;
	clear:both;
    width: $content-wrap;
    padding:4em 0em;
	margin: 4em auto;
	position: relative;
	@include font-size(0.8);
	overflow:hidden;	
	ul{
		padding-left:0;
	}
	ul li{
		list-style:none;
		padding-left:0;
		@include font-size(1);
	}
	.menu-footer ul li{
		float: left;
		margin: -1em 2em 1.2em 0em;
	}
	.menu-footer{
		float: left;
		width: 50%;
		list-style: none;
		@include box-sizing();
		padding:1em;
	}
	.site-info{
		float: right;
		width: 50%;
		text-align: right;	
		@include box-sizing();
		padding:1em;
		p{
			margin:0;
		}
	}
	@media screen and (max-width: $query-small){
		width: 100%;
		margin: 2em auto;
		.menu-footer{
			width: 100%;
		}
		.site-info{
			margin-top: 2em;
			float: left;
			text-align: left;
			width: 100%;
		}

	}

}
.back-to-top{
	@include font-size(2);
	position: fixed;
	bottom:1em;
	right:1em;
	width:50px;
	height:50px;
	background-color:white;
	@include transitions();
	.icon{
		margin: 11px 0 0 9px;
	}
	&:hover{
		background-color:$color-primary;
		color:white;
	}
}


/*--------------------------------------------------------------
## Accessibility
--------------------------------------------------------------*/
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: $color-background;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: $color-main-text;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}



  
