// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

//
@mixin box-sizing() {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

//Transitions
@mixin transitions() {
	-webkit-transition: background-color 300ms linear, color 100ms linear;
	-moz-transition: background-color 300ms linear, color 100ms linear;
	-o-transition: background-color 300ms linear, color 100ms linear;
	ms-transition: background-color 300ms linear, color 100ms linear;
	transition: background-color 300ms linear, color 100ms linear;
}
  
