/* Colors Light Theme option **************/

$color-background: #fff;
$color-background-header:#484848;

$color-light: #eaeaea;
$color-main-text: #484848;
$color-secondary-text: #b3b3b3;
$color-primary: #ffcc00;
$color-secondary: #ff9000;

$color-links: #484848;
$color-links-underline: rgba(255,204,0,0.4);


/* Fonts **************/
$font-sans: 'Asap', 'Arial', sans-serif;
$font-serif: 'Tinos', serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

/* Estructure **************/
$full-width: 100%;
$side-bar: 25%;
$content-wrap: 68%;
$content-wrap-large: 93%;
$header-height: 48px;

/* Responsive **************/
$query-smaller: 500px;
$query-small: 700px;
$query-medium: 900px;
$query-large: 1200px;