@charset "UTF-8";
/*!
Theme Name: Walter White
Theme URI:https://github.com/camiloburro
Author: Camilo Hernandez
Author URI: https://github.com/camiloburro
Description: Clean and tidy wordpress theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: polar
Tags: Clean, White, Tidy, Minimal, Basic.

--------------------------------------------------------------*/
/* Colors Light Theme option **************/
/* Fonts **************/
/* Estructure **************/
/* Responsive **************/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* SVG Icons base styles */
.icon {
	display: inline-block;
	fill: currentColor;
	height: 1em;
	position: relative;
	/* Align more nicely with capital letters */
	top: -0.0625em;
	vertical-align: middle;
	width: 1em;
}

/*--------------------------------------------------------------
SVG Fallbacks
--------------------------------------------------------------*/
.svg-fallback {
	display: none;
}

.no-svg .svg-fallback {
	display: inline-block;
}

/* Social Menu fallbacks */
.no-svg .svg-fallback.icon-top:before {
	font-size: 0.5em;
	margin: 12px 0px 0px 11px;
	content: "Top";
}

.no-svg .svg-fallback.icon-nav:before {
	font-size: 0.8em;
	content: "Menu";
}

.no-svg .svg-fallback.icon-arrow-left:before {
	content: "←";
}

.no-svg .svg-fallback.icon-arrow-right:before {
	content: "→";
}

/* Social Menu fallbacks */
.no-svg .social-menu a {
	height: auto;
	width: auto;
}

.no-svg .social-menu li a .screen-reader-text {
	clip: auto;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	height: auto;
	position: relative !important;
	/* overrides previous !important styles */
	width: auto;
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* Buttons **********************/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 0;
	background-color: #ffcc00;
	color: white;
	padding: 0.5em 1em;
	font-size: 12.8px;
	font-size: 0.8rem;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	text-decoration: underline;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: none;
}

/* Fields **********************/
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	font-family: "Asap", "Arial", sans-serif;
	color: #484848;
	border: 1px solid #eaeaea;
	border-radius: 0;
	width: 99%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #b3b3b3;
}

select {
	border: 1px solid #eaeaea;
}

textarea {
	width: 99%;
}

input[type="search"] {
	padding: 0.5em;
}

input:focus {
	border-color: #eaeaea;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #eaeaea;
	text-align: center;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #eaeaea;
	text-align: center;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: #eaeaea;
	text-align: center;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #eaeaea;
	text-align: center;
}

.search-form {
	text-align: center;
}

.search-form input[type="search"] {
	text-align: center;
}

.search-form input[type="submit"] {
	text-align: center;
	margin: 0.5em;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## General
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #484848;
	font-family: "Asap", "Arial", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5em;
}

::-moz-selection {
	background: #eaeaea;
	/* WebKit/Blink Browsers */
}

::selection {
	background: #eaeaea;
	/* WebKit/Blink Browsers */
}

::-moz-selection {
	background: #eaeaea;
	/* Gecko Browsers */
}

/* Heading ***************************/
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: "Asap", "Arial", sans-serif;
	line-height: 1em;
	font-weight: 400;
}

/* Copy ***************************/
p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0.5em;
	padding: 2em 0.5em 0.5em 0.5em;
	font-size: 19.2px;
	font-size: 1.2rem;
	font-style: italic;
	border: none;
	background-color: transparent;
	background-image: url(images/quote.svg);
	background-position: left top;
	background-repeat: no-repeat;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: transparent;
	border: 1px solid #eaeaea;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 12.8px;
	font-size: 0.8rem;
	line-height: 0em;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #ff9000;
	cursor: help;
}

mark, ins {
	background: #ff9000;
	text-decoration: none;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 204, 0, 0.4);
	color: #484848;
	-webkit-transition: background-color 300ms linear, color 100ms linear;
	-moz-transition: background-color 300ms linear, color 100ms linear;
	-o-transition: background-color 300ms linear, color 100ms linear;
	ms-transition: background-color 300ms linear, color 100ms linear;
	transition: background-color 300ms linear, color 100ms linear;
}

a:visited {
	color: #484848;
}

a:hover, a:focus, a:active {
	color: #ffcc00;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Site - general
--------------------------------------------------------------*/
.site {
	/* border-top: 2px solid $color-background-header; */
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.header-image {
	max-height: 30vh;
	overflow: hidden;
}

.header-image img {
	display: block;
	width: 100vw;
}

.site-header {
	width: 68%;
	margin: 2em auto 0em;
	padding-top: 1em;
	overflow: hidden;
}

@media screen and (max-width: 700px) {
	.site-header {
		width: 92%;
	}
}

.site-branding {
	float: left;
	line-height: 1em;
	min-height: 48px;
}

.site-branding .custom-logo-link {
	float: left;
	margin-right: 0.5em;
	margin-top: 0em;
	border-bottom: none;
}

.site-branding .custom-logo-link img {
	display: block;
	height: 48px;
	width: auto;
}

.site-branding .site-branding-text {
	float: left;
}

.site-branding .site-title {
	margin: 0.5em 0 0 0;
	padding: 0;
	font-size: 20.8px;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1em;
	letter-spacing: 0.1em;
}

.site-branding .site-title a {
	color: #484848;
	padding-bottom: .25rem;
}

.site-branding .site-title a:hover, .site-branding .site-title a:focus {
	color: #ffcc00;
}

.site-branding .site-description {
	margin: 2px 0 0 0;
	font-size: 12.8px;
	font-size: 0.8rem;
	font-style: italic;
	font-weight: 100;
}

/*--------------------------------------------------------------
## Main Menu Header
--------------------------------------------------------------*/
.main-navigation {
	float: right;
	margin: 0;
}

.main-navigation .menu-toggle {
	position: relative;
	display: block;
	color: #484848;
}

.main-navigation .menu-toggle .icon {
	height: 1.5em;
	width: 1.5em;
	margin: -0.5em -1.5em 0 0;
	-webkit-transition: background-color 300ms linear, color 100ms linear;
	-moz-transition: background-color 300ms linear, color 100ms linear;
	-o-transition: background-color 300ms linear, color 100ms linear;
	ms-transition: background-color 300ms linear, color 100ms linear;
	transition: background-color 300ms linear, color 100ms linear;
}

.main-navigation .menu-toggle .icon:hover {
	color: #ffcc00;
}

.main-navigation button {
	background: transparent;
	border-radius: 0;
	border: none;
	height: 48px;
	width: 48px;
}

.main-navigation button:focus {
	outline: 0;
}

.nav-home-menu {
	display: none;
	width: 100%;
	float: left;
}

.menu-main-menu-container {
	overflow: hidden;
}

.menu-main-menu-container ul {
	clear: both;
	margin: 2em 0 1em 0;
	padding: 0;
	float: left;
	width: 100%;
	height: auto;
	font-size: 12.8px;
	font-size: 0.8rem;
	list-style: none;
}

.menu-main-menu-container ul li {
	float: left;
	padding: 0.3em 1.1em;
	border: 1px solid #eaeaea;
	margin: 1em 0.5em 0em;
	text-align: center;
}

.menu-main-menu-container ul li a {
	text-decoration: none;
	border-bottom: 0;
}

.menu-main-menu-container ul .current_page_item > a,
.menu-main-menu-container ul .current-menu-item > a,
.menu-main-menu-container ul .current_page_ancestor > a,
.menu-main-menu-container ul .current-menu-ancestor > a {
	color: #ffcc00;
}

/*Widget for Header*/
.widget-header {
	clear: both;
	padding-top: 1em;
	width: 50%;
	margin: 1em auto 1em;
	text-align: center;
}

.widget-header input[type="search"] {
	width: 100%;
	font-size: 12.8px;
	font-size: 0.8rem;
	font-weight: 200;
	color: #eaeaea;
	text-align: center;
}

.widget-header input[type="submit"] {
	width: 70px;
	margin: 1em auto;
	text-align: center;
}

@media screen and (max-width: 700px) {
	.widget-header {
		width: 100%;
	}
}

/*--------------------------------------------------------------
## Main Content - Article - Images - Post Articles
--------------------------------------------------------------*/
.site-main {
	/* Safari/Chrome, other WebKit */
	/* Firefox, other Gecko */
	box-sizing: border-box;
	/* Opera/IE 8+ */
	padding: 1em;
}

@media screen and (max-width: 700px) {
	.site-main {
		width: 100%;
	}
}

.site-content {
	clear: both;
	margin: 0 auto;
	overflow: hidden;
}

.site-content article {
	overflow: hidden;
	margin-top: 1.5em;
	margin-bottom: 3.25em;
}

.content-article-image {
	width: 93%;
	margin: 1em auto 1em;
	max-width: 1000px;
}

.content-article-image img {
	width: 100%;
	height: auto;
}

@media screen and (max-width: 700px) {
	.content-article-image {
		width: 100%;
	}
}

.content-article-inner {
	width: 68%;
	margin: 0 auto;
}

@media screen and (max-width: 700px) {
	.content-article-inner {
		width: 100%;
	}
}

.sticky .entry-header .entry-title {
	border-top: 7px solid #ffcc00;
}

.entry-header {
	width: 35%;
	float: left;
}

.entry-header .entry-title {
	border-top: 2px solid #ffcc00;
	padding-top: 0.5em;
	font-weight: 300;
	font-size: 48px;
	font-size: 3rem;
	margin: 0.3em 0 0.3em 0;
	line-height: 1em;
}

.entry-header .entry-meta {
	font-size: 12.8px;
	font-size: 0.8rem;
	padding-bottom: 0.8em;
	margin-bottom: 0.8em;
	border-bottom: 1px dashed #eaeaea;
}

.entry-header .cat-links, .entry-header .tags-links, .entry-header .comments-link, .entry-header .edit-link {
	font-size: 12.8px;
	font-size: 0.8rem;
}

@media screen and (max-width: 700px) {
	.entry-header {
		width: 100%;
	}
}

.entry-content {
	width: 60%;
	float: right;
	/* ::::::: Images Alignments ::::::::::*/
	/* ::::::: Images Captions ::::::::::*/
}

.entry-content img {
	max-width: 100%;
	height: auto;
}

.entry-content .alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.entry-content .alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.entry-content .aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.entry-content button {
	background-color: transparent;
	border: 1px solid #eaeaea;
	color: #484848;
	-webkit-transition: background-color 300ms linear, color 100ms linear;
	-moz-transition: background-color 300ms linear, color 100ms linear;
	-o-transition: background-color 300ms linear, color 100ms linear;
	ms-transition: background-color 300ms linear, color 100ms linear;
	transition: background-color 300ms linear, color 100ms linear;
}

.entry-content button:hover {
	text-decoration: none;
	color: #ffcc00;
}

.entry-content figure {
	max-width: 100%;
}

.entry-content .wp-caption {
	max-width: 100%;
	background-color: #ffcc00;
	color: white;
}

.entry-content .wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.entry-content .wp-caption .wp-caption-text {
	font-size: 11.2px;
	font-size: 0.7rem;
	font-style: italic;
	margin: 0;
}

.entry-content .wp-caption-text {
	text-align: center;
}

@media screen and (max-width: 700px) {
	.entry-content {
		width: 100%;
	}
	.entry-content img[class*="wp-image-"] {
		width: 100%;
	}
	.entry-content figure {
		width: 75% !important;
	}
}

.post-article-content {
	width: 68%;
	margin: 0 auto;
	font-size: 12.8px;
	font-size: 0.8rem;
	/* comments --- */
}

.post-article-content .post-navigation {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px dashed #eaeaea;
	border-top: 1px dashed #eaeaea;
	border-left: none;
	border-right: none;
	padding: 1.7em 0;
	font-family: "Asap", "Arial", sans-serif;
}

.post-article-content .post-navigation .nav-previous {
	border: 1px solid #eaeaea;
	float: left;
	padding: 1em;
	margin-left: 1em;
}

.post-article-content .post-navigation .nav-next {
	border: 1px solid #eaeaea;
	float: left;
	padding: 1em;
	margin-left: 1em;
}

.post-article-content .comment-list {
	padding-left: 2em;
}

.post-article-content .comment-author img {
	width: 75px;
	height: auto;
}

.post-article-content .comment-meta {
	font-style: italic;
}

.post-article-content .reply {
	margin: -1em 0 0 0;
}

.post-article-content .reply a {
	background-color: #ffcc00;
	color: white;
	padding: 0.5em 1.3em;
	color: white;
}

.post-article-content .reply a:hover {
	text-decoration: underline;
}

.post-article-content .comment-respond {
	margin: 2em 0;
	width: 100%;
}

.post-article-content .comment-respond h3 {
	font-size: 20.8px;
	font-size: 1.3rem;
	text-transform: uppercase;
}

@media screen and (max-width: 700px) {
	.post-article-content {
		width: 100%;
		margin: 0 auto;
	}
}

/*Archive*/
.page-header-archive {
	width: 68%;
	margin: 1em auto;
	text-align: center;
}

.page-header-archive h1 {
	text-align: center;
	font-size: 12.8px;
	font-size: 0.8rem;
	font-weight: 200;
	text-transform: uppercase;
	background-color: #ffcc00;
	color: white;
	padding: 0.7em 0;
}

@media screen and (max-width: 700px) {
	.page-header-archive {
		width: 100%;
		margin: 0 auto;
	}
}

.page-header-archive .archive-description p {
	margin: 0 0;
	color: #b3b3b3;
	font-size: 12.8px;
	font-size: 0.8rem;
}

/*Search*/
.page-header {
	width: 68%;
	margin: 1em auto;
	text-align: center;
}

.page-header h1 {
	text-align: center;
	font-size: 12.8px;
	font-size: 0.8rem;
	font-weight: 200;
	text-transform: uppercase;
	background-color: #ffcc00;
	color: white;
	padding: 0.7em 0;
}

@media screen and (max-width: 700px) {
	.page-header {
		width: 100%;
		margin: 0 auto;
	}
}

/*Error 404*/
.error-404 {
	text-align: center;
}

.error-404 img {
	width: 30%;
	margin: 0 auto;
}

/* Post Navigation*/
.navigation {
	width: 68%;
	margin: 3em auto 2em;
	padding: 1.3em 0em;
	border: 1px solid #eaeaea;
	text-align: center;
}

.navigation .nav-links a {
	margin: 0em 1em;
}

.navigation .current {
	color: #ffcc00;
	margin: 0em 1em;
}

@media screen and (max-width: 700px) {
	.navigation {
		width: 100%;
		margin: 0 auto;
	}
}

/*--------------------------------------------------------------
## Side Bar - Widget Area
--------------------------------------------------------------*/
.widget-area {
	width: 68%;
	margin: 1em auto;
	padding-top: 0em;
	font-size: 12.8px;
	font-size: 0.8rem;
	/* Safari/Chrome, other WebKit */
	/* Firefox, other Gecko */
	box-sizing: border-box;
	/* Opera/IE 8+ */
	overflow: hidden;
}

.widget-area .widget {
	overflow: hidden;
	margin-top: 2.5em;
}

.widget-area .widget ul {
	padding-left: 2em;
}

.widget-area .widget-left {
	width: 35%;
	float: left;
	border-top: 1px dashed #eaeaea;
	padding-top: 1em;
	/* Safari/Chrome, other WebKit */
	/* Firefox, other Gecko */
	box-sizing: border-box;
	/* Opera/IE 8+ */
}

@media screen and (max-width: 500px) {
	.widget-area .widget-left {
		width: 100%;
	}
}

.widget-area .widget-right {
	width: 60%;
	float: right;
	border-top: 1px dashed #eaeaea;
	padding-top: 1em;
	/* Safari/Chrome, other WebKit */
	/* Firefox, other Gecko */
	box-sizing: border-box;
	/* Opera/IE 8+ */
}

@media screen and (max-width: 500px) {
	.widget-area .widget-right {
		width: 100%;
		border-top: none;
		padding-top: 0em;
	}
}

@media screen and (max-width: 700px) {
	.widget-area {
		width: 100%;
		padding: 1em;
	}
}

.widget-area .widget_search {
	text-align: left;
}

.widget-area .widget_search ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	text-align: left;
}

.widget-area .widget_search ::-moz-placeholder {
	/* Firefox 19+ */
	text-align: left;
}

.widget-area .widget_search :-ms-input-placeholder {
	/* IE 10+ */
	text-align: left;
}

.widget-area .widget_search :-moz-placeholder {
	/* Firefox 18- */
	text-align: left;
}

.widget-area .widget_search input[type="search"] {
	font-size: 12.8px;
	font-size: 0.8rem;
	font-style: italic;
	text-align: left;
}

.widget-area .widget_search input[type="submit"] {
	float: left;
	margin-top: 0.7em;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	border-top: 1px dashed #eaeaea;
	clear: both;
	width: 68%;
	padding: 4em 0em;
	margin: 4em auto;
	position: relative;
	font-size: 12.8px;
	font-size: 0.8rem;
	overflow: hidden;
}

.site-footer ul {
	padding-left: 0;
}

.site-footer ul li {
	list-style: none;
	padding-left: 0;
	font-size: 16px;
	font-size: 1rem;
}

.site-footer .menu-footer ul li {
	float: left;
	margin: -1em 2em 1.2em 0em;
}

.site-footer .menu-footer {
	float: left;
	width: 50%;
	list-style: none;
	/* Safari/Chrome, other WebKit */
	/* Firefox, other Gecko */
	box-sizing: border-box;
	/* Opera/IE 8+ */
	padding: 1em;
}

.site-footer .site-info {
	float: right;
	width: 50%;
	text-align: right;
	/* Safari/Chrome, other WebKit */
	/* Firefox, other Gecko */
	box-sizing: border-box;
	/* Opera/IE 8+ */
	padding: 1em;
}

.site-footer .site-info p {
	margin: 0;
}

@media screen and (max-width: 700px) {
	.site-footer {
		width: 100%;
		margin: 2em auto;
	}
	.site-footer .menu-footer {
		width: 100%;
	}
	.site-footer .site-info {
		margin-top: 2em;
		float: left;
		text-align: left;
		width: 100%;
	}
}

.back-to-top {
	font-size: 32px;
	font-size: 2rem;
	position: fixed;
	bottom: 1em;
	right: 1em;
	width: 50px;
	height: 50px;
	background-color: white;
	-webkit-transition: background-color 300ms linear, color 100ms linear;
	-moz-transition: background-color 300ms linear, color 100ms linear;
	-o-transition: background-color 300ms linear, color 100ms linear;
	ms-transition: background-color 300ms linear, color 100ms linear;
	transition: background-color 300ms linear, color 100ms linear;
}

.back-to-top .icon {
	margin: 11px 0 0 9px;
}

.back-to-top:hover {
	background-color: #ffcc00;
	color: white;
}

/*--------------------------------------------------------------
## Accessibility
--------------------------------------------------------------*/
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #484848;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*# sourceMappingURL=../w-w/sass/maps/style.css.map */
