/**
 * Theme: Walter White
 * Editor styles
 */

body,
button,
input,
select,
textarea {
	color: #484848;
	font-family: "Asap", "Arial", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5em;
}

::-moz-selection {
	background: #eaeaea;
	/* WebKit/Blink Browsers */
}

::selection {
	background: #eaeaea;
	/* WebKit/Blink Browsers */
}

::-moz-selection {
	background: #eaeaea;
	/* Gecko Browsers */
}

/* Heading ***************************/
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: "Asap", "Arial", sans-serif;
	line-height: 1em;
	font-weight: 400;
}

/* Copy ***************************/
p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0.5em;
	padding: 2em 0.5em 0.5em 0.5em;
	font-size: 19.2px;
	font-size: 1.2rem;
	font-style: italic;
	border: none;
	background-color: transparent;
	background-image: url(images/quote.svg);
	background-position: left top;
	background-repeat: no-repeat;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: transparent;
	border: 1px solid #eaeaea;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 12.8px;
	font-size: 0.8rem;
	line-height: 0em;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #ff9000;
	cursor: help;
}

mark, ins {
	background: #ff9000;
	text-decoration: none;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	text-decoration: none;
	border-bottom: 1px solid rgba(255, 204, 0, 0.4);
	color: #484848;
	-webkit-transition: background-color 300ms linear, color 100ms linear;
	-moz-transition: background-color 300ms linear, color 100ms linear;
	-o-transition: background-color 300ms linear, color 100ms linear;
	ms-transition: background-color 300ms linear, color 100ms linear;
	transition: background-color 300ms linear, color 100ms linear;
}

a:visited {
	color: #484848;
}

a:hover, a:focus, a:active {
	color: #ffcc00;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* Buttons **********************/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 0;
	background-color: #ffcc00;
	color: white;
	padding: 0.5em 1em;
	font-size: 12.8px;
	font-size: 0.8rem;
}

